body, html{
    margin: 0;
    padding: 0;
    height: 100%;
}

header {
    background-color: gray;
    position: relative;
    top: 0;
    padding: 1vh 0 1vh 1vw;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1{
    margin: 0;
}



input[type="checkbox"]:checked + label {
    text-decoration: line-through;
    color: gray;
}