
body {
  margin: 0;
  background-color: rgb(177, 175, 175);
}


header{
  background-color: rgb(46, 46, 68);
  color: white;
  top: 0;
  position: fixed;
  width: 100%;
  padding-left: 2vmin;
  height: 8vmin;
}

