<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Owen's School</title>
</head>
<body>
    <h1>This is Owen's School.</h1>
    <a href="http://127.0.0.1:8000/students/"><button>See our Students' Data.</button></a>
    <a href="http://127.0.0.1:8000/old_students/"><button>See our old students.</button></a>
    <a href="http://127.0.0.1:8000/young_students/"><button>See our young students.</button></a>
    <a href="http://127.0.0.1:8000/advance_students/"><button>See our advanced students.</button></a>
    <a href="http://127.0.0.1:8000/student_names/"><button>See our students' names.</button></a>
    <a href="http://127.0.0.1:8000/student_ages/"><button>See our Students' names and ages.</button></a>
    
</body>
</html>