body{
    margin: 0;
    background-color: rgba(34, 32, 32);
}

header {
    margin: 0;
    top: 0;
    background-color: rgb(73, 112, 73);
    color: rgba(34, 32, 32);
    font-size: larger;
    font-weight: bold;
    height: 8vmin;
    align-content: center;
    padding-left: 3vmin;
}

span {
    color: rgba(34, 32, 32);
    font-size: xx-large;
    font-weight: bold;
    margin-right: 2vmin;
}

input {
    background-color:  rgba(34, 32, 32);
    color: white;
    font-size: large;
    font-weight: bold;
    height: 4vmin;
    margin-right: 3vmin;
    border: solid rgb(73, 112, 73) 1px;
    border-radius: 1vmin;
}

#submit { 
    color: rgb(73, 112, 73);
    cursor: pointer;
    padding: 1vmin;
}